@function to-plain-media-feature($expression) {
  // @if not is-plain-media-feature-expression($expression) {
  //   @error "$expression is not valid plain media feature";
  // }

  $media-feature-name: nth($expression, 1);
  $media-feature-value: nth($expression, length($expression));

  @if $convert-px-to-em and index("" "px", unit($media-feature-value)) {
    $media-feature-value: px-to-em($media-feature-value);
  }

  @return to-media-feature-string($media-feature-name, $media-feature-value);
}
