@function to-range-media-feature($expression) {
  $media-feature-name: nth($expression, 1);
  $media-feature-value: nth($expression, 3);
  $operator: nth($expression, 2);

  @if is-range-media-feature-name($media-feature-value) and
    is-range-media-feature-value($media-feature-name)
  {
    $temp: $media-feature-name;
    $media-feature-name: $media-feature-value;
    $media-feature-value: $temp;
  }

  @if not is-range-media-feature-name($media-feature-name) {
    @error unquote("\"#{$media-feature-name}\" is not valid range media feature name");
  }

  @if not is-range-media-feature-value($media-feature-value) {
    @error unquote("\"#{$media-feature-value}\" is not valid range media feature value");
  }

  $media-feature-name: normalize-range-media-feature-name(
    $media-feature-name,
    $operator
  );
  $media-feature-value: normalize-range-media-feature-value(
    $media-feature-value,
    $operator
  );

  @if $convert-px-to-em and index("" "px", unit($media-feature-value)) {
    $media-feature-value: px-to-em($media-feature-value);
  }

  @return to-media-feature-string($media-feature-name, $media-feature-value);
}
