$FONT_SIZE_BASE: 16px !default;

$LT_OP: "<", "lt";
$GT_OP: ">", "gt";
$GE_OP: ">=", "ge";
$LE_OP: "<=", "le";
$EQ_OP: "==", "eq";

$COMPARISON_OPERATORS: flat(($LT_OP, $GT_OP, $GE_OP, $LE_OP, $EQ_OP));

$RANGE_MEDIA_FEATURES: ("width", "height", "resolution");

$DEFAULT_RANGE_MEDIA_FEATURE: "width" !default;
$DEFAULT_MEDIA_FEATURE: "min-width" !default;

$PREDEFINED_EXPRESSIONS: () !default;
$CONVERT_PX_TO_EM: false !default;

$CACHED_QUERIES: ();
