@function q($expression) {
  $query: null;

  @if is-cached-query($expression) {
    $query: get-cached-query($expression);
  } @else {
    @if length($expression) == 1 and is-predefined-expression($expression) {
      $expression: get-predefined-expression($expression);
    }

    $normalized-expression: normalize-expression($expression);

    $query: set-cached-query(
      $expression,
      to-media-feature($normalized-expression)
    );
  }

  @return $query;
}
